.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url('1.png');
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url('2.jpg');
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url('3.jpg');
}
.carousel-item{
    height: 700px;
    width: 100vw;
}